.idea/
.vscode/
*.log
db/*
/db/*
*/db/*
*/db/*
.directory
*.pyc
*/__pycache__/*
__pycache__/*
*/__pycache__
*__pycache__*
*temp*
*temp/*
*/temp/*
tmp/*
/tmp/*
*venv*
*venv/*
*/venv/*
venv/*
/venv/*
auth/*
/auth/*
*bin*
*bin/*
*/bin/*
bin/*
/bin/*
*.log
*.err
auth.txt
*/auth.txt
source/.pypirc
